.Menu{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: var(--dark);
    z-index: 2;
    transition: all 0.3s;
}

.Menu_list{
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
}

.Menu_item{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.Menu_close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
    border: none;
}