.Menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background: var(--dark);
    z-index: 2;
    transition: all 0.3s;
}

.Menu_list{
    padding: 50px 10px 10px;
    display: flex;
    flex-direction: column;
}

.Menu_item{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.Menu_close_btn{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
    border: none;
}

.Menu_item a{
    color: inherit;
}

.Menu_item_logout{
    margin-top: 30px;
}