.Store{
    position: relative;
}

.Store_inner{
    padding: 0 20px;
}

.Store_wrapper{
    padding: 32px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media(min-width: 920px){
    .Store_wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}