.User_item{
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.User_bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.User_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.User_coins{
    position: relative;
    color: #fff;
    z-index: 1;
}

.User_nickname{
    position: relative;
    z-index: 1;
}