.Cart{
    position: relative;
}

.Cart_wrapper{
    padding: 32px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.Cart_footer_amount:after{
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 24px;
    height: 24px;
    background: url("../../img/check-color.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Cart_footer{
    padding: 16px 20px;
    position: relative;
    font-size: 18px;
    font-family: var(--font-highlighted);
    font-weight: 600;
}

.Cart_footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart_footer:before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    background: var(--primary);
}

.Cart_footer_amount{
    display: flex;
    align-items: center;
}

.Cart_footer_amount:after{
    margin-left: 10px;
}

.Cart_checkout_btn{
    margin-top: 20px;
}