.Header{
    position: relative;
    width: 100%;
    background: var(--dark);
    padding: 20px;
    z-index: 12;
    transition: all 0.3s;
}

.Header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.Header_logo{
    display: block;
    margin: 0 auto;
    width: 124px;
    height: auto;
}

.Header_burger{
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 10px;*/
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(min-width: 768px){
    .Header{
        display: block;
    }
}