.App{
    display: flex;
    flex-direction: column;
    outline: 1px solid #ccc;
    background: url("./img/bg-mob.png") no-repeat;
    background-size: cover;
}

.App_main_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    flex-grow: 1;
}

@media(min-width: 768px){
    .App{
        background-image: url("./img/bg-web.png");
    }
}